.about {
  background-color: #0a2850;
}

.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 251px;
  padding-left: 80px;
  padding-top: 100px;
}

.about__content {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  max-width: 660px;
  padding-top: 119px;
  padding-bottom: 173px;
  padding-right: 80px;
  display: block;
}

.about__circle_animation_blurred {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 1;
  animation-name: pulsate;
  transition: tranfsorm 1.3 ease-in-out;
}

@keyframes pulsate {
  from {
    opacity: 0;
  }
  top {
    opacity: 50% 0.6;
  }
}
