.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 20px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  padding: 30px 20px 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  display: flex;
}
